<nav class="navbar nav-pills nav-justified navbar-default navbar-expand-lg navbar-dark bg-dark" routerLinkActive="active">
  <div class="container-fluid navbar-nav">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img class="logo" src="assets/img/PiHome 2.0.png">
      </a>
      <span class="navbar-brand"><b>PiHome</b></span>
    </div>
    <span style="width: 50px"></span>
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['dashboard']">Dashboard </a>
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['history']">History</a>
        <a class="nav-item nav-link disabled" href="#"></a>
        <a class="nav-item nav-link disabled" href="#"></a>
  </div>
</nav>

<router-outlet></router-outlet> 